# Misc
*.log
.DS_Store

# Never include database backups
/db_backups

# Never retain root-level vendor packages
/vendor
/wordpress
/node_modules

# Never retain uploaded media
content/uploads

# Always retain themes and language packs
!content/themes
!content/languages

# Never include wp-config
wp-config.php
