# BEGIN WordPress
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>
# END WordPress

<IfModule mod_headers.c>
    #########################################################################
    # Content Security Policy
    #########################################################################
    # To break onto a new line, add a backslash.
    # The backslash *must* be the last character on the line
    # any number of spaces/tabs are allowed
    # the last line must always *exclude* a backslash
    # terminate each "clause" with a semicolon at the end of the last value
    Header set Content-Security-Policy "\
	default-src 'self'; \
    "
</IfModule>
